// bower:scss
// endbower
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Medium.woff") format("woff");
  font-weight: 500;
}

body {
  overflow-x: hidden;
  background: #ffffff;
  color: #000000;
  font-family: "Gotham Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

.e-top {
  display: block;
  position: relative;
  width: 100%;
  background-color: #5485c4;
  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__left {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
  }
  &__right {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
  }
  &__info {
    display: inline-flex;
    align-items: center;
    margin: 0 20px 0 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    i {
      display: inline-block;
      margin-right: 6px;
      color: #ffffff;
    }
    a {
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.7;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  &__phone {
    display: inline-block;
    margin: 0 30px 0 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__button {
    display: inline-block;
    margin: 0;
    padding: 18px 28px;
    background-color: #03549b;
    border: 0;
    outline: 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background: #0464b8;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.e-header {
  display: block;
  position: relative;
  width: 100%;
  padding: 45px 0;
  background: #ffffff;
  & > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: inline-flex;
    align-items: center;
    img {
      display: inline-block;
      max-width: 100%;
      margin-right: 24px;
    }
    &-text {
      display: inline-block;
      margin: 0;
      padding: 8px 0 8px 18px;
      border-left: 2px solid #5485c4;
      color: #3a3a3a;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.5;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      color: #03549b;
      text-decoration: none;
    }
  }
  &__nav {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    & > li {
      display: inline-block;
      &:last-child {
        & > a {
          padding-right: 0;
        }
      }
      & > a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 20px 35px;
        color: #3a3a3a;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        i {
          display: inline-block;
          margin-top: -5px;
          margin-left: 4px;
          color: #03549b;
        }
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover,
        &:active,
        &:focus {
          color: #03549b;
          text-decoration: none;
        }
      }
    }
    &-dropper {
      position: relative;
      &:hover {
        .e-header__nav-drop {
          display: block;
        }
      }
    }
    &-drop {
      display: none;
      position: absolute;
      top: 100%;
      left: 50%;
      width: 300px;
      margin: 0;
      margin-left: -150px;
      padding: 0;
      padding: 18px 0;
      box-shadow: 0 10px 50px rgba(84, 133, 196, 0.3);
      background-color: #5485c4;
      list-style: none;
      transition: all 0.2s ease-out;
      z-index: 2;
      & > li {
        display: block;
        & > a {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 6px 6px 6px 30px;
          color: #ffffff;
          font-size: 16px;
          font-weight: 700;
          line-height: 1.5;
          text-transform: uppercase;
          & > img {
            display: inline-block;
            width: 40px;
            height: 40px;
            object-fit: scale-down;
            object-position: left center;
          }
          & > span {
            display: inline-block;
            max-width: 200px;
          }
          cursor: pointer;
          text-decoration: none;
          transition: all 0.2s ease-out;
          &:hover,
          &:active,
          &:focus {
            background: #03549b;
            color: #ffffff;
            text-decoration: none;
          }
        }
      }
    }
    &-subdropper {
      position: relative;
      &:hover {
        & > a {
          background: #03549b;
        }
        .e-header__nav-subdrop {
          display: block;
        }
      }
    }
    &-subdrop {
      display: none;
      position: absolute;
      top: 0;
      left: 100%;
      width: 300px;
      margin: 0;
      padding: 0;
      padding: 10px 0;
      box-shadow: 0 10px 50px rgba(84, 133, 196, 0.3);
      background-color: #03549b;
      list-style: none;
      transition: all 0.2s ease-out;
      z-index: 3;
      & > li {
        display: block;
        & > a {
          display: block;
          padding: 14px 14px 14px 26px;
          color: #ffffff;
          font-size: 16px;
          font-weight: 700;
          line-height: 1.5;
          cursor: pointer;
          text-decoration: none;
          transition: all 0.2s ease-out;
          &:hover,
          &:active,
          &:focus {
            opacity: 0.7;
            color: #ffffff;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.e-big {
  display: block;
  position: relative;
  width: 100%;
  .slick-dots {
    width: auto;
    bottom: 110px;
    left: calc((100vw - 1200px) / 2 + 15px);
  }
  .slick-dots li {
    width: auto;
    height: auto;
    margin: 0 20px 0 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    &.slick-active {
      color: #5485c4;
      font-size: 30px;
    }
  }
  &__card {
    display: block;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &-content {
      display: block;
      width: calc(670px + ((100vw - 1200px) / 2));
      height: 645px;
      padding: 140px 120px 205px calc((100vw - 1200px) / 2 + 15px);
      background: rgba(0, 0, 0, 0.7);
    }
    &-title {
      display: block;
      height: 72px;
      margin: 0 0 20px 0;
      color: #ffffff;
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
    }
    &-text {
      display: block;
      max-width: 460px;
      height: 115px;
      margin: 0 0 40px 0;
      overflow: hidden;
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.33;
    }
    &-button {
      display: inline-block;
      margin: 0;
      padding: 18px 55px;
      background-color: #03549b;
      color: #ffffff;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        background: #0464b8;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.slick-dotted.slick-slider {
  margin: 0;
}

.e-features {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: -40px;
  padding: 30px 0;
  box-shadow: 0 10px 50px rgba(84, 133, 196, 0.3);
  background-color: #ffffff;
  &__card {
    display: inline-block;
    width: 100%;
    max-width: 243px;
    margin: 0 24px;
    background-position: right center;
    background-repeat: no-repeat;
    &-title {
      display: block;
      margin: 0 0 10px 0;
      color: #3a3a3a;
      font-size: 40px;
      font-weight: 400;
    }
    &-text {
      display: block;
      margin: 0;
      color: #3a3a3a;
      font-size: 16px;
      font-weight: 300;
    }
  }
  &__line {
    display: block;
    width: 1px;
    height: 100px;
    background-color: #5485c4;
  }
}

.e-home {
  display: block;
  position: relative;
  width: 100%;
  background: url("../images/home_bg_1.png") no-repeat right
    calc((100vw - 1200px) / 2 + 385px) top 50px;
  &__title {
    display: block;
    margin: 15px 0 60px 0;
    color: #3a3a3a;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
}

.e-wrapper_1 {
  display: block;
  position: relative;
  width: 100%;
  background: url("../images/home_bg_2.png") no-repeat left
    calc((100vw - 1200px) / 2 + 310px) top 470px;
  padding-bottom: 80px;
}

.e-wrapper_2 {
  display: block;
  position: relative;
  width: 100%;
  background: url("../images/home_bg_3.png") no-repeat left
    calc(100vw / 2 - 1020px) top -70px;
}

.e-wrapper_audit {
  display: block;
  position: relative;
  width: 100%;
  background: url("../images/audit_bg_2.png") no-repeat left
    calc((100vw - 1200px) / 2 + 540px) top -25px;
}

.e-services {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 60px;
  &__title {
    display: block;
    margin: 0 0 45px 0;
    color: #3a3a3a;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }
  &__card {
    display: inline-block;
    width: 100%;
    max-width: 270px;
    padding: 30px;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 10px 50px rgba(84, 133, 196, 0.3);
      background-image: linear-gradient(-45deg, #03549b 0%, #5485c4 100%);
      text-decoration: none;
      .e-services__card-title {
        color: #ffffff;
      }
      .e-services__card-link {
        color: #ffffff;
        span {
          border-color: #81a7d0;
        }
      }
      .e-services__card-icon {
        filter: brightness(0) invert(1);
      }
    }
    &-icon {
      display: block;
      width: 35px;
      height: 35px;
      margin-bottom: 15px;
      object-fit: scale-down;
      object-position: left top;
    }
    &-title {
      display: block;
      margin: 0 0 10px 0;
      color: #3a3a3a;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.7;
        color: #ffffff;
        text-decoration: none;
      }
    }
    &-link {
      display: block;
      width: 100%;
      margin: 0 0 10px 0;
      color: #3a3a3a;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      word-wrap: break-word;
      span {
        border-bottom: 1px solid #b5b5b5;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        color: #a7ceff !important;
        text-decoration: none;
      }
    }
  }
}

.e-seo {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 0 110px 0;
  &__content {
    display: block;
    position: relative;
    width: 100%;
    max-width: 770px;
    min-height: 550px;
    padding: 45px 220px 45px 50px;
    background: url("../images/seo_bg.png") no-repeat left bottom;
    background-size: cover;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.75;
    &_right {
      margin-left: 420px;
      padding: 45px 50px 45px 220px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: block;
      margin: 0 0 10px 0;
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
    }
    p {
      margin-bottom: 10px;
    }
    ul {
      display: block;
      margin: 0;
      margin-bottom: 15px;
      padding: 0;
      list-style: none;
      li {
        display: block;
        position: relative;
        padding-left: 30px;
        &:before {
          display: block;
          position: absolute;
          content: "—";
          left: 10px;
          top: 0;
          color: #ffffff;
          font-size: 16px;
          font-weight: 700;
        }
      }
    }
  }
  &__big {
    display: block;
    position: absolute;
    top: 50px;
    left: 100%;
    margin-left: -200px;
    width: 600px;
    height: 520px;
    box-shadow: 0 10px 50px rgba(84, 133, 196, 0.3);
    background-image: linear-gradient(-45deg, #03549b 0%, #5485c4 100%);
    object-fit: cover;
    &_left {
      left: auto;
      right: 100%;
      top: auto;
      bottom: 50px;
      margin-left: auto;
      margin-right: -200px;
    }
  }
}

.e-order {
  display: block;
  position: relative;
  width: 100%;
  padding: 90px 0 120px 0;
  background: url("../images/order_bg.jpg") no-repeat center;
  background-size: cover;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 8px 0;
    padding-left: 70px;
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    &:before {
      display: block;
      position: absolute;
      content: "";
      left: 0;
      top: 15px;
      width: 50px;
      height: 2px;
      background-color: #5485c4;
    }
  }
  &__subtitle {
    display: block;
    margin: 0 0 60px 0;
    padding-left: 70px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
  }
  &__form {
    display: block;
    position: relative;
    width: 100%;
    font-family: "Gotham Pro", sans-serif;
    ::placeholder {
      color: #a3a3a3;
    }
    input {
      display: block;
      width: 100%;
      max-width: 370px;
      margin: 0 0 30px 0;
      padding: 15px 20px;
      background-color: #ffffff;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      font-family: "Gotham Pro", sans-serif;
    }
    textarea {
      display: block;
      width: 100%;
      margin: 0 0 30px 0;
      padding: 15px 20px;
      background-color: #ffffff;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      font-family: "Gotham Pro", sans-serif;
    }
  }
  &__bottom {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
  }
  &__button {
    display: inline-block;
    margin: 0;
    padding: 18px 55px;
    border: 0;
    outline: 0;
    background: #03549b;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background: #0464b8;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__text {
    display: inline-block;
    margin: 0 0 0 30px;
    padding: 8px 0 8px 20px;
    border-left: 2px solid #5485c4;
    color: rgba(255, 255, 255, 0.3);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
  }
}

.e-papers {
  display: block;
  position: relative;
  width: 100%;
  padding: 90px 0 240px 0;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 50px 0;
    padding-left: 70px;
    color: #3a3a3a;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    &:before {
      display: block;
      position: absolute;
      content: "";
      left: 0;
      top: 15px;
      width: 50px;
      height: 2px;
      background-color: #5485c4;
    }
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    .slick-next,
    .slick-prev {
      top: auto;
      bottom: -105px;
      width: 62px;
      height: 55px;
      opacity: 1;
      z-index: 1;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 1;
      }
      &:before {
        display: none;
      }
    }
    .slick-next {
      right: 50%;
      margin-right: -65px;
      background: url("../images/icon_slick_next.png") no-repeat center;
      background-size: contain;
      &:hover {
        background: url("../images/icon_slick_next_hovered.png") no-repeat
          center;
      }
    }
    .slick-prev {
      left: 50%;
      margin-left: -65px;
      background: url("../images/icon_slick_prev.png") no-repeat center;
      background-size: contain;
      &:hover {
        background: url("../images/icon_slick_prev_hovered.png") no-repeat
          center;
      }
    }
  }
  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 270px;
    padding: 50px 20px 40px 20px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 10px 50px rgba(84, 133, 196, 0.3);
      background-image: linear-gradient(-45deg, #03549b 0%, #5485c4 100%);
      color: #ffffff;
      text-decoration: none;
      .e-papers__card-title {
        color: #ffffff;
      }
    }
    &-image {
      display: block;
      width: 175px;
      height: 245px;
      margin-bottom: 25px;
      object-fit: contain;
    }
    &-title {
      display: block;
      position: relative;
      max-width: 100%;
      margin: 0;
      color: #3a3a3a;
      font-size: 20px;
      font-weight: 500;
      transition: all 0.2s ease-out;
    }
  }
}

.e-partners {
  display: block;
  position: relative;
  width: 100%;
  padding: 40px 0 230px 0;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 90px 0;
    padding-left: 70px;
    color: #3a3a3a;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    &:before {
      display: block;
      position: absolute;
      content: "";
      left: 0;
      top: 15px;
      width: 50px;
      height: 2px;
      background-color: #5485c4;
    }
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    .slick-next,
    .slick-prev {
      top: auto;
      bottom: -140px;
      width: 62px;
      height: 55px;
      opacity: 1;
      z-index: 1;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 1;
      }
      &:before {
        display: none;
      }
    }
    .slick-next {
      right: 50%;
      margin-right: -65px;
      background: url("../images/icon_slick_next.png") no-repeat center;
      background-size: contain;
      &:hover {
        background: url("../images/icon_slick_next_hovered.png") no-repeat
          center;
      }
    }
    .slick-prev {
      left: 50%;
      margin-left: -65px;
      background: url("../images/icon_slick_prev.png") no-repeat center;
      background-size: contain;
      &:hover {
        background: url("../images/icon_slick_prev_hovered.png") no-repeat
          center;
      }
    }
  }
  &__card {
    display: block;
    width: 100%;
    max-width: 200px;
    height: 155px;
    object-fit: scale-down;
    object-position: center;
  }
}

.e-footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 40px 0;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../images/footer_bg.png") no-repeat left bottom;
  background-size: cover;
  &__nav {
    display: block;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
    li {
      display: block;
      a {
        display: block;
        margin: 0 0 18px 0;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover,
        &:active,
        &:focus {
          opacity: 0.7;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
  &__subtitle {
    display: block;
    margin: 0 0 10px 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__links {
    display: block;
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
    list-style: none;
    li {
      display: block;
      a {
        display: block;
        margin: 0 0 10px 0;
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover,
        &:active,
        &:focus {
          opacity: 0.7;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
  &__creators {
    display: block;
    padding-top: 15px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    a {
      display: inline;
      margin-left: 4px;
      border-bottom: 1px solid #6294c1;
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: transparent;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.e-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.8);
  }
  &__close {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 430px;
    margin: 10px 0;
    padding: 25px 30px 30px 30px;
    box-shadow: 0 10px 50px rgba(84, 133, 196, 0.3);
    background: #a7ceff url("../images/modal_bg.png") no-repeat left bottom;
    background-size: cover;
  }
  &__title {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 5px 0;
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__subtitle {
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
  }
  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    ::placeholder {
      color: #a3a3a3;
    }
    input {
      display: block;
      width: 100%;
      margin: 0 0 20px 0;
      padding: 15px 20px;
      border: 0;
      outline: 0;
      background-color: #ffffff;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      font-family: "Gotham Pro", sans-serif;
    }
    textarea {
      display: block;
      width: 100%;
      margin: 0 0 30px 0;
      padding: 15px 20px;
      border: 0;
      outline: 0;
      background-color: #ffffff;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      font-family: "Gotham Pro", sans-serif;
    }
  }
  &__button {
    display: block;
    width: 100%;
    margin: 0;
    padding: 18px;
    border: 0;
    outline: 0;
    background: #03549b;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background: #0464b8;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.e-blog {
  display: block;
  position: relative;
  width: 100%;
  &__top {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 45px;
  }
  &__title {
    display: block;
    position: relative;
    margin: 0 0 10px 0;
    padding-left: 70px;
    color: #3a3a3a;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    &:before {
      display: block;
      position: absolute;
      content: "";
      left: 0;
      top: 15px;
      width: 50px;
      height: 2px;
      background-color: #5485c4;
    }
  }
  &__subtitle {
    display: block;
    margin: 0;
    padding-left: 70px;
    color: #3a3a3a;
    font-size: 16px;
    font-weight: 300;
  }
  &__button {
    display: block;
    padding: 16px 30px;
    border: 1px solid #03549b;
    outline: 0;
    background: transparent;
    color: #03549b;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background: #0464b8;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }
  &__card {
    display: block;
    width: 100%;
    max-width: 270px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      .e-blog__card-title {
        color: #03549b;
      }
      text-decoration: none;
    }
    &-image {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      position: relative;
      width: 100%;
      height: 270px;
      img {
        display: block;
        width: 100%;
        max-width: 270px;
        height: 270px;
        object-fit: cover;
        object-position: center;
      }
    }
    &-date {
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 6px 8px;
      background-color: #5485c4;
      color: #ffffff;
      font-size: 14px;
      font-weight: 500;
    }
    &-title {
      display: block;
      height: 72px;
      margin: 10px 0;
      overflow: hidden;
      color: #3a3a3a;
      font-size: 20px;
      font-weight: 500;
    }
    &-text {
      display: block;
      height: 168px;
      margin: 0;
      overflow: hidden;
      color: #3a3a3a;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
  }
}

.e-audit-double {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 100px;
}

.e-faq {
  display: block;
  position: relative;
  width: 100%;
  &__wrapper {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 100%;
    &-number {
      display: inline-block;
      width: 70px;
      margin: -10px 0 0 0;
      overflow: hidden;
      color: #71a7eb;
      font-size: 43px;
      font-weight: 700;
    }
  }
  &__title {
    display: block;
    position: relative;
    margin: 0 0 10px 0;
    padding-left: 70px;
    color: #3a3a3a;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    &:before {
      display: block;
      position: absolute;
      content: "";
      left: 0;
      top: 15px;
      width: 50px;
      height: 2px;
      background-color: #5485c4;
    }
    &_solo {
      margin-bottom: 45px;
    }
  }
  &__subtitle {
    display: block;
    margin: 0 0 45px 0;
    padding-left: 70px;
    color: #3a3a3a;
    font-size: 16px;
    font-weight: 300;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &__card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 600px;
    margin-bottom: 30px;
    border-left: 2px solid transparent;
    transition: all 0.2s ease-out;
    &_opened {
      border-color: #5485c4;
    }
    &-link {
      display: block;
      position: relative;
      margin-bottom: 15px;
      padding-left: 24px;
      color: #3a3a3a;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      word-wrap: break-word;
      &:before {
        display: block;
        position: absolute;
        content: "";
        left: 10px;
        top: 10px;
        width: 5px;
        height: 5px;
        background: url("../images/icon_square.png") no-repeat center;
        background-size: contain;
      }
      span {
        border-bottom: 1px solid #b5b5b5;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        color: #03549b;
        text-decoration: none;
        span {
          border-color: #a0bfd9;
        }
      }
    }
    &-header {
      display: block;
      width: 100%;
      min-height: 30px;
      padding: 0 0 0 50px;
      background: url("../images/icon_collapse.png") no-repeat left top;
      transition: all 0.2s ease-out;
      &_opened {
        background: url("../images/icon_collapse_opened.png") no-repeat left top !important;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.7;
        text-decoration: none;
      }
    }
    &-title {
      display: block;
      margin: 0;
      color: #3a3a3a;
      font-size: 20px;
      font-weight: 500;
    }
    &-content {
      display: none;
      position: relative;
      width: 100%;
      padding: 20px 0 0 50px;
      color: #3a3a3a;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      p {
        margin: 0 0 10px 0;
      }
    }
    &-subtitle {
      display: block;
      margin: 0 0 10px 0;
      color: #5485c4;
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.e-mob {
  display: inline-block;
  &__nav {
    display: none;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  &__more {
    display: inline-block;
  }
}

.e-page {
  display: block;
  position: relative;
  width: 100%;
  background: url("../images/home_bg_1.png") no-repeat right
    calc((100vw - 1200px) / 2 + 385px) top -170px;
}

.e-breadcrumps {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    i {
      display: inline-block;
      margin: 0 8px;
      color: #5485c4;
    }
    a {
      color: #ffffff;
      font-size: 12px;
      font-weight: 400;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        color: #5485c4;
        text-decoration: none;
      }
    }
  }
}

.e-hello {
  display: block;
  position: relative;
  width: 100%;
  &__wrapper {
    display: block;
    width: 100%;
    padding: 15px 0 85px 0;
    background: rgba(0, 0, 0, 0.7);
  }
  &__title {
    display: block;
    margin: 0;
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
}

.e-services__cards_page {
  padding: 80px 0 100px 0;
}

.e-team {
  display: block;
  position: relative;
  width: 100%;
  padding: 90px 0 10px 0;

  &__title {
    display: block;
    position: relative;
    margin: 0 0 50px 0;
    padding-left: 70px;
    color: #3a3a3a;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    &:before {
      display: block;
      position: absolute;
      content: "";
      left: 0;
      top: 15px;
      width: 50px;
      height: 2px;
      background-color: #5485c4;
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 50px;
  }
  &__card {
    display: block;
    width: 100%;
    max-width: 370px;
    margin-bottom: 50px;
    &-image {
      display: block;
      width: 100%;
      max-width: 370px;
      height: 370px;
      object-fit: cover;
    }
    &-title {
      display: block;
      margin: 24px 0;
      color: #3a3a3a;
      font-size: 20px;
      font-weight: 700;
    }
    &-who {
      display: block;
      margin: 0 0 20px 0;
      color: #5485c4;
      font-size: 16px;
      font-weight: 500;
    }
    &-text {
      display: block;
      margin: 0;
      color: #3a3a3a;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
  }
}

.e-audit {
  display: block;
  position: relative;
  width: 100%;
  padding: 100px 0;
  &__content {
    display: block;
    max-width: 500px;
    color: #3a3a3a;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    p {
      margin: 0 0 10px 0;
      color: #3a3a3a;
    }
    ul {
      display: block;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: block;
        position: relative;
        padding-left: 20px;
        color: #3a3a3a;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.75;
        &:before {
          display: block;
          position: absolute;
          content: "—";
          left: 0;
          top: 0;
          color: #3a3a3a;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }
  &__title {
    display: block;
    margin: 0 0 30px 0;
    color: #3a3a3a;
    font-size: 20px;
    font-weight: 500;
  }
  &__big {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 520px;
    box-shadow: 0 10px 50px rgba(84, 133, 196, 0.3);
    background-image: linear-gradient(-45deg, #03549b 0%, #5485c4 100%);
    object-fit: cover;
  }
  &__button {
    display: inline-block;
    margin: 50px 0 0 0;
    padding: 18px 44px;
    background-color: #03549b;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background: #0464b8;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.e-why {
  display: block;
  position: relative;
  width: 100%;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 40px 0;
    padding-left: 70px;
    color: #3a3a3a;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    &:before {
      display: block;
      position: absolute;
      content: "";
      left: 0;
      top: 15px;
      width: 50px;
      height: 2px;
      background-color: #5485c4;
    }
  }
  &__cards {
    display: block;
  }
  &__card {
    display: block;
    margin-bottom: 34px;
    &-image {
      display: block;
      width: 50px;
      height: 50px;
      margin-bottom: 16px;
      object-fit: scale-down;
      object-position: left bottom;
    }
    &-title {
      display: block;
      margin: 0 0 6px 0;
      color: #3a3a3a;
      font-size: 20px;
      font-weight: 500;
    }
    &-text {
      display: block;
      margin: 0;
      color: #3a3a3a;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.e-locates {
  display: block;
  position: relative;
  width: 100%;
  padding: 90px 0 20px 0;
  background-image: linear-gradient(to top, #03549b 0%, #5485c4 100%);
  &__title {
    display: block;
    margin: 0 0 40px 0;
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  &__help {
    display: none;
    margin: 10px 0 0 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }
  &__map {
    display: block;
    width: 100%;
    img {
      display: block;
      width: 100%;
      max-width: 700px;
      margin: 0 auto;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
}

.e-about {
  display: block;
  position: relative;
  width: 100%;
  padding: 100px 0;
  &__big {
    display: block;
    width: 100%;
    max-width: 300px;
    height: 300px;
    border-radius: 999rem;
    object-fit: cover;
  }
  &__content {
    display: block;
    color: #3a3a3a;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.75;
    p {
      margin: 0 0 20px 0;
    }
  }
}

.e-about-combo {
  display: block;
  position: relative;
  width: 100%;
  background: url("../images/about_bg.png") no-repeat left calc(50vw - 1207px)
    top;
}

.e-papers_about {
  padding: 0 0 150px 0;
}

.e-partners_about {
  padding-bottom: 300px;
}

.e-features_about {
  margin: -200px 0 40px 0;
}

.e-assotiations {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 70px;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 40px 0;
    padding-left: 70px;
    color: #3a3a3a;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    &:before {
      display: block;
      position: absolute;
      content: "";
      left: 0;
      top: 15px;
      width: 50px;
      height: 2px;
      background-color: #5485c4;
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 570px;
    margin-bottom: 30px;
    &-image {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 200px;
      height: 200px;
      margin-right: 30px;
      padding: 20px;
      border-radius: 999rem;
      box-shadow: 0 10px 50px rgba(84, 133, 196, 0.3);
      background-color: #ffffff;
      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    &-title {
      display: inline-block;
      max-width: 340px;
      margin: 0;
      color: #3a3a3a;
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.e-signup {
  display: block;
  position: relative;
  width: 100%;
  padding: 100px 0;
  &__title {
    display: block;
    margin: 0 0 40px 0;
    color: #3a3a3a;
    font-size: 20px;
    font-weight: 500;
    span,
    b,
    strong {
      color: #5485c4;
      font-size: 25px;
      font-weight: 700;
    }
  }
  &__content {
    display: block;
    margin: 0 0 30px 0;
    ul {
      display: block;
      margin: 0;
      margin-bottom: 10px;
      padding: 0;
      list-style: none;
      li {
        display: block;
        position: relative;
        padding-left: 20px;
        color: #3a3a3a;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.75;
        &:before {
          display: block;
          position: absolute;
          content: "—";
          left: 0;
          top: 0;
          color: #3a3a3a;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }
  &__big {
    display: block;
    width: 100%;
    max-width: 600px;
    height: 400px;
    object-fit: cover;
    box-shadow: -2px 10px 50px rgba(84, 133, 196, 0.3);
    background-image: linear-gradient(-45deg, #03549b 0%, #5485c4 100%);
  }
  &__button {
    display: inline-block;
    padding: 16px 30px;
    background-color: #03549b;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background: #0464b8;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.e-nice {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: -35px;
  z-index: 1;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 50px 0;
    padding-left: 70px;
    color: #3a3a3a;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    &:before {
      display: block;
      position: absolute;
      content: "";
      left: 0;
      top: 15px;
      width: 50px;
      height: 2px;
      background-color: #5485c4;
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__card {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 475px;
    &-image {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 200px;
      height: 200px;
      margin-right: 30px;
      padding: 20px;
      border-radius: 999rem;
      box-shadow: 0 10px 50px rgba(84, 133, 196, 0.3);
      background-color: #ffffff;
      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    &-title {
      display: inline-block;
      max-width: 245px;
      margin: 0;
      color: #3a3a3a;
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.e-things {
  display: block;
  position: relative;
  width: 100%;
  padding: 90px 0 0 0;
  background-image: linear-gradient(-41deg, #5485c4 0%, #6797d3 100%);
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 330px;
    margin: 0 10px 60px 10px;
    &-image {
      display: inline-block;
      width: 60px;
      height: 60px;
      margin-bottom: 15px;
      object-fit: scale-down;
      object-position: center bottom;
    }
    &-title {
      display: block;
      max-width: 260px;
      margin: 0;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.e-help {
  display: block;
  position: relative;
  width: 100%;
  padding: 80px 0 100px 0;
  &__big {
    display: block;
    max-width: 100%;
  }
  &__title {
    display: block;
    position: relative;
    margin: 0 0 55px 0;
    padding-left: 70px;
    color: #3a3a3a;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    &:before {
      display: block;
      position: absolute;
      content: "";
      left: 0;
      top: 15px;
      width: 50px;
      height: 2px;
      background-color: #5485c4;
    }
  }
  &__subtitle {
    display: block;
    margin: 0 0 20px 0;
    color: #3a3a3a;
    font-size: 20px;
    font-weight: 500;
  }
  &__text {
    display: block;
    max-width: 695px;
    margin: 0 0 18px 0;
    color: #3a3a3a;
    font-size: 20px;
    font-weight: 400;
  }
  &__ul {
    display: block;
    max-width: 720px;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      position: relative;
      margin: 0 0 14px 0;
      padding-left: 35px;
      color: #3a3a3a;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      &:before {
        display: block;
        position: absolute;
        content: "";
        left: 20px;
        top: 10px;
        width: 5px;
        height: 5px;
        background: url("../images/icon_square.png") no-repeat center;
        background-size: contain;
      }
    }
  }
}

.e-choose {
  display: block;
  position: relative;
  width: 100%;
  padding: 100px 0 80px 0;
  background: url("../images/choose_bg.png") no-repeat left
    calc((100vw - 1200px) / 2 - 250px) top 30px;
}

.e-form {
  display: block;
  position: relative;
  padding: 55px 50px 50px 50px;
  box-shadow: -2px 10px 50px rgba(84, 133, 196, 0.3);
  background-image: linear-gradient(-45deg, #03549b 0%, #5485c4 100%);
  &__title {
    display: block;
    margin: 0 0 20px 0;
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  &__text {
    display: block;
    margin: 0 0 35px 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
  }
  &__subtitle {
    display: block;
    margin: 4px 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
  }
  &__hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 15px 0;
    background-color: #ffffff;
    opacity: 0.2;
  }
  &__row {
    display: block;
    width: 100%;
  }
  &__radio {
    display: none;
    & + label {
      display: inline-block;
      position: relative;
      margin: 0 20px 0 0;
      padding-left: 20px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
    }
    & + label:before {
      display: block;
      position: absolute;
      content: "";
      left: 0;
      top: 4px;
      width: 10px;
      height: 10px;
      background: url("../images/icon_checkbox.png") no-repeat center;
      background-size: contain;
    }
    &:checked + label:before {
      display: block;
      position: absolute;
      content: "";
      left: 0;
      top: 4px;
      width: 10px;
      height: 10px;
      background: url("../images/icon_checkbox_checked.png") no-repeat center !important;
      background-size: contain;
    }
  }
  &__dropper {
    background: url("../images/angle-arrow-down.png") no-repeat right 20px top
      12px;
    background-size: 18px;
  }
  &__default {
    display: block;
    width: 100%;
    input {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      padding: 10px 20px;
      border: 0;
      outline: 0;
      background-color: #ffffff;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
    }
    textarea {
      resize: none;
      display: block;
      width: 100%;
      height: 39px;
      margin-bottom: 10px;
      padding: 10px 20px;
      border: 0;
      outline: 0;
      overflow: hidden;
      background-color: #ffffff;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
    }
  }
  &__button {
    display: block;
    width: 100%;
    margin: 20px 0 0 0;
    padding: 16px;
    border: 1px solid #ffffff;
    background: transparent;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background: #ffffff;
      color: #03549b;
      text-decoration: none;
    }
  }
  &__info {
    display: block;
    width: 100%;
    margin: 0;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
  }
  input::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
}

.e-table {
  display: block;
  position: relative;
  width: 100%;
  padding: 55px 50px 40px 50px;
  box-shadow: -2px 10px 50px rgba(84, 133, 196, 0.3);
  background-color: #ffffff;
  &__title {
    display: block;
    margin: 0 0 12px 0;
    color: #3a3a3a;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
}

.table thead th {
  border: 0;
}

.table td,
.table th {
  border: 0;
}

.table td,
.table th {
  padding: 15px 14px;
}

.table td {
  padding: 12px 14px;
}

.table {
  th {
    color: #5485c4;
    font-size: 20px;
    font-weight: 500;
  }
}

.table {
  td {
    color: #3a3a3a;
    font-size: 18px;
    font-weight: 400;
    a {
      display: inline-block;
      border-bottom: 1px solid #a0bfd9;
      color: #03549b;
      font-size: 18px;
      font-weight: 700;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.5;
        color: #03549b;
        text-decoration: none;
      }
    }
  }
}

.e-reviews {
  display: block;
  position: relative;
  width: 100%;
  padding: 100px 0;
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 370px;
    margin-bottom: 50px;
    &-image {
      display: block;
      position: relative;
      margin-bottom: 35px;
      padding: 50px;
      background: #5485c4 url("../images/icon_quote.png") no-repeat left 20px
        top 20px;
      a {
        display: block;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover,
        &:active,
        &:focus {
          opacity: 0.7;
          text-decoration: none;
        }
      }
      img {
        display: block;
        width: 100%;
        max-width: 270px;
        height: 370px;
        object-fit: contain;
      }
      &:after {
        display: block;
        position: absolute;
        content: "";
        top: 100%;
        left: 24px;
        margin-top: -20px;
        width: 55px;
        height: 40px;
        background: url("../images/reviews_after.png") no-repeat center;
        background-size: contain;
      }
    }
    &-name {
      display: block;
      margin: 0 0 14px 0;
      color: #3a3a3a;
      font-size: 20px;
      font-weight: 700;
    }
    &-who {
      display: block;
      margin: 0 0 12px 0;
      color: #5485c4;
      font-size: 16px;
      font-weight: 500;
    }
    &-from {
      display: block;
      color: #3a3a3a;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.e-pages {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  list-style: none;
  &_active {
    color: #5485c4 !important;
    font-size: 30px !important;
    font-weight: 700;
    a {
      color: #5485c4 !important;
      font-size: 30px !important;
      font-weight: 700;
    }
  }
  li {
    display: inline-block;
    margin: 4px 17px;
    color: #3a3a3a;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    a {
      color: #3a3a3a;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        color: #5485c4;
        text-decoration: none;
      }
    }
  }
}

#map {
  display: block;
  width: 100%;
  min-height: 900px;
  position: relative;
}

.e-map {
  display: block;
  position: relative;
  width: 100%;
  &__header {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0 85px 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    &-title {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 32px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
    }
  }
  &__info {
    display: block;
    position: absolute;
    left: calc((100vw - 1200px) / 2 + 15px);
    top: 350px;
    width: 100%;
    max-width: 380px;
    padding: 35px;
    box-shadow: 0 10px 50px rgba(84, 133, 196, 0.3);
    background-color: #ffffff;
    z-index: 1;
    &-title {
      display: block;
      margin: 0 0 20px 0;
      color: #3a3a3a;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
    }
    &-number {
      display: block;
      margin: 0 0 24px 0;
      color: #03549b;
      font-size: 25px;
      font-weight: 700;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.7;
        color: #03549b;
        text-decoration: none;
      }
    }
    &-row {
      display: block;
      margin: 0 0 10px 0;
      color: #3a3a3a;
      font-size: 14px;
      font-weight: 400;
      i {
        display: inline-block;
        margin-right: 8px;
        color: #03549b;
      }
      a {
        display: inline;
        border-bottom: 1px solid #6294c1;
        color: #5485c4;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover,
        &:active,
        &:focus {
          opacity: 0.7;
          color: #5485c4;
          text-decoration: none;
        }
      }
    }
    &-button {
      display: inline-block;
      width: 100%;
      margin-top: 45px;
      padding: 12px;
      background-color: #03549b;
      color: #ffffff;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      i {
        display: inline-block;
        margin-right: 8px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        background: #0464b8;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.e-branchs {
  display: block;
  position: relative;
  width: 100%;
  padding: 100px 0 70px 0;
  background: url("../images/branchs_bg.png") no-repeat right
    calc((100vw - 1200px) / 2 + 385px) top -90px;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 45px 0;
    padding-left: 70px;
    color: #3a3a3a;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    &:before {
      display: block;
      position: absolute;
      content: "";
      left: 0;
      top: 15px;
      width: 50px;
      height: 2px;
      background-color: #5485c4;
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
  }
  &__card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 570px;
    margin-bottom: 30px;
    padding: 25px 25px 25px 90px;
    box-shadow: 0 10px 50px rgba(84, 133, 196, 0.3);
    background: #ffffff url("../images/branch_bg.png") no-repeat left bottom;
    &-title {
      display: block;
      margin: 0 0 12px 0;
      color: #3a3a3a;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
    }
    &-row {
      display: block;
      margin: 0 0 10px 0;
      color: #3a3a3a;
      font-size: 14px;
      font-weight: 400;
      i {
        display: inline-block;
        margin-right: 8px;
        color: #03549b;
      }
      a {
        display: inline;
        color: #3a3a3a;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover,
        &:active,
        &:focus {
          color: #5485c4;
          text-decoration: none;
        }
      }
    }
  }
}

.e-banks {
  display: block;
  position: relative;
  width: 100%;
  padding: 90px 0 60px 0;
  background: url("../images/bank_bg.jpg") no-repeat center;
  background-size: cover;
  &__title {
    display: block;
    max-width: 685px;
    margin: 0 auto 30px auto;
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  &__text {
    display: block;
    max-width: 685px;
    margin: 0 auto 50px auto;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: block;
    width: 100%;
    max-width: 570px;
    margin: 0 0 40px 0;
    &-title {
      display: block;
      margin: 0 0 10px 0;
      color: #71a7eb;
      font-size: 20px;
      font-weight: 700;
    }
    &-text {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      b,
      strong {
        font-weight: 500;
      }
    }
  }
}

.e-banks-combo {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 100px;
  background: url("../images/banks_bg.png") no-repeat right
    calc((100vw - 1200px) / 2 + 580px) top 45px;
}

.e-kicks {
  display: block;
  position: relative;
  width: 100%;
  padding: 90px 0;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 55px 0;
    padding-left: 70px;
    color: #3a3a3a;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    &:before {
      display: block;
      position: absolute;
      content: "";
      left: 0;
      top: 15px;
      width: 50px;
      height: 2px;
      background-color: #5485c4;
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 215px;
    margin-bottom: 30px;
    text-align: center;
    &-image {
      display: block;
      width: 50px;
      height: 50px;
      margin-bottom: 25px;
      object-fit: scale-down;
    }
    &-text {
      display: block;
      margin: 0;
      color: #3a3a3a;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.e-popular {
  display: block;
  position: relative;
  width: 100%;
  max-width: 570px;
  margin: 0 auto;
  padding: 55px 50px 40px 55px;
  box-shadow: 0 10px 50px rgba(84, 133, 196, 0.3);
  background-image: linear-gradient(-45deg, #03549b 0%, #5485c4 100%);
  &__title {
    display: block;
    margin: 0 0 30px 0;
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__links {
    display: block;
    width: 100%;
  }
  &__link {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 15px 0;
    padding-left: 15px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    word-wrap: break-word;
    &:before {
      display: block;
      position: absolute;
      content: "";
      width: 5px;
      height: 5px;
      top: 10px;
      left: 0;
      background: url("../images/icon_square_white.png") no-repeat center;
      background-size: contain;
    }
    span {
      border-bottom: 1px solid #5a8bc3;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #a7ceff !important;
      text-decoration: none;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {
  .e-mob {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    &__nav {
      display: inline-block;
    }
  }
  .e-seo__big {
    display: block;
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    width: 100%;
    max-width: 100%;
    height: 240px;
    margin: 0 0 15px 0;
  }
  .e-seo__content {
    margin: 0;
    padding: 20px 15px;
  }
  .e-seo__content_right {
    margin: 0;
    padding: 20px 15px;
  }
  .e-top {
    .e-top__left {
      display: none;
    }
  }
  .e-header__logo-text {
    display: none;
  }
  .e-top__phone {
    margin: 0;
  }
  .e-top__button {
    padding: 12px 8px;
  }
  .e-top__right {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }
  .e-header {
    padding: 15px 0;
  }
  .e-header__logo img {
    max-width: 150px;
  }
  .e-mob {
    width: 100%;
  }
  .e-mob__more {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .e-top__left {
      display: flex !important;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      padding: 8px;
      background: #03549b;
    }
    .e-top__info {
      margin: 0 0 6px 0;
    }
  }
  .e-header__nav {
    display: block;
    width: 100%;
    li {
      display: block;
      i {
        display: none !important;
      }
      a {
        display: block;
        text-align: center;
      }
    }
  }
  .e-header__nav > li > a {
    padding: 6px 12px;
  }
  .e-header__nav-dropper:hover .e-header__nav-drop {
    display: none;
  }
  .e-header__nav-subdropper:hover .e-header__nav-subdrop {
    display: none;
  }
  .e-big__card-content {
    width: 100%;
    height: 420px;
    margin: 0;
    padding: 20px 15px;
  }
  .e-big .slick-dots {
    bottom: 55px;
    left: 15px;
  }
  .e-big__card-title {
    height: 99px;
    font-size: 28px;
  }
  .e-big__card-text {
    height: 105px;
    margin: 0 0 20px 0;
    font-size: 16px;
  }
  .e-features {
    padding: 10px 0;
  }
  .e-features__line {
    display: none;
  }
  .e-features__card-title {
    margin: 0;
    font-size: 32px;
  }
  .e-features__card {
    margin-bottom: 15px;
  }
  .e-features__card {
    max-width: 100%;
  }
  .e-home__title {
    margin: 30px 0;
  }
  .e-services__title {
    margin-bottom: 15px;
  }
  .e-services__card {
    padding: 15px;
  }
  .e-services {
    padding-bottom: 10px;
  }
  .e-seo {
    padding-bottom: 20px;
  }
  .e-blog__button {
    margin-top: 20px;
  }
  .e-blog__top {
    padding-bottom: 20px;
  }
  .e-blog__cards {
    justify-content: space-around;
  }
  .e-blog__card {
    margin-bottom: 25px;
  }
  .e-faq__subtitle {
    margin-bottom: 30px;
  }
  .e-wrapper_1 {
    padding-bottom: 30px;
  }
  .e-order {
    padding: 30px 0;
  }
  .e-order__subtitle {
    margin-bottom: 20px;
  }
  .e-order__form input {
    margin-bottom: 15px;
  }
  .e-order__form textarea {
    margin-bottom: 15px;
  }
  .e-order__button {
    display: block;
    width: 100%;
    text-align: center;
  }
  .e-order__text {
    margin: 10px 0 0 0;
  }
  .e-papers {
    padding: 30px 0 60px 0;
  }
  .e-papers__title {
    margin-bottom: 10px;
  }
  .e-papers__card {
    margin: 0 auto;
    padding: 15px;
  }
  .e-papers__cards .slick-next,
  .e-papers__cards .slick-prev {
    bottom: -80px;
  }
  .e-partners {
    padding: 30px 0 60px 0;
  }
  .e-partners__cards .slick-next,
  .e-partners__cards .slick-prev {
    bottom: -80px;
  }
  .e-partners__title {
    margin-bottom: 25px;
  }
  .e-partners__card {
    margin: 0 auto;
  }
  .e-footer {
    padding: 25px 0;
  }
  .e-hello__wrapper {
    padding-bottom: 40px;
  }
  .e-breadcrumps {
    margin-bottom: 20px;
  }
  .e-services__cards_page {
    padding: 30px 0 20px 0;
  }
  .e-team {
    padding: 25px 0 10px 0;
  }
  .e-team__title {
    margin-bottom: 20px;
  }
  .e-team__cards {
    justify-content: space-around;
  }
  .e-team__card {
    max-width: 250px;
    margin: 0 10px 25px 10px;
  }
  .e-team__card-image {
    max-width: 250px;
    height: 250px;
  }
  .e-team__card-title {
    margin: 10px 0;
  }
  .e-team__card-who {
    margin-bottom: 10px;
  }
  .e-team__cards {
    padding-bottom: 20px;
  }
  .e-audit {
    padding: 25px 0;
  }
  .e-audit__button {
    margin: 0 0 20px 0;
  }
  .e-audit__big {
    height: 240px;
    margin-bottom: 25px;
  }
  .e-faq__title_solo {
    margin-bottom: 20px;
  }
  .e-faq__wrapper-number {
    width: 26px;
    margin: 5px 0 0 0;
    font-size: 16px;
  }
  .e-why__title {
    margin-bottom: 20px;
  }
  .e-why__cards {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  .e-why__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    text-align: center;
  }
  .e-audit-double {
    padding-bottom: 20px;
  }
  .e-locates {
    padding: 30px 0;
  }
  .e-locates__title {
    margin-bottom: 20px;
  }
  .e-locates__help {
    display: block;
  }
  .e-assotiations__title {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .e-about {
    padding: 30px 0;
  }
  .e-about__big {
    max-width: 200px;
    height: 200px;
    margin: 0 auto 20px auto;
  }
  .e-assotiations__cards {
    justify-content: space-around;
  }
  .e-assotiations__card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .e-assotiations__card-image {
    max-width: 160px;
    height: 160px;
    margin: 0 0 20px 0;
  }
  .e-assotiations {
    padding-bottom: 10px;
  }
  .e-features_about {
    margin: 0 0 20px 0;
  }
  .e-signup {
    padding: 30px 0;
  }
  .e-signup__title {
    margin-bottom: 20px;
  }
  .e-signup__button {
    margin-bottom: 20px;
  }
  .e-signup__big {
    max-width: 400px;
    height: 240px;
  }
  .e-nice__title {
    margin-bottom: 20px;
  }

  .e-nice__cards {
    justify-content: space-around;
  }
  .e-nice__card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;
    text-align: center;
  }
  .e-nice__card-image {
    max-width: 160px;
    height: 160px;
    margin: 0 0 20px 0;
  }
  .e-nice {
    margin: 0;
    padding-bottom: 20px;
  }
  .e-things {
    padding-top: 30px;
  }
  .e-things__card {
    margin-bottom: 20px;
  }
  .e-choose {
    padding: 20px 0;
  }
  .e-table {
    padding: 15px 0;
  }
  .table td {
    padding: 8px 4px;
    font-size: 14px;
  }
  .table th {
    padding: 8px 4px;
    font-size: 16px;
  }
  .e-form {
    padding: 15px 10px;
  }
  .e-form__title {
    font-size: 20px;
  }
  .e-help {
    padding: 10px 0 30px 0;
  }
  .e-help__title {
    margin-bottom: 20px;
  }
  .e-help__big {
    max-width: 160px;
    margin: 0 auto 20px auto;
  }
  .e-reviews {
    padding: 30px 0;
  }
  .e-reviews__card {
    margin-bottom: 30px;
  }
  .e-reviews__card-image {
    width: 100%;
    margin-bottom: 30px;
    padding: 20px;
  }
  .e-reviews__cards {
    width: 100%;
    justify-content: space-around;
  }
  .e-reviews__card-image img {
    margin: 0 auto;
  }
  .e-pages {
    padding: 0;
  }
  .e-map__header {
    position: relative;
    background: rgba(0, 0, 0, 0.9);
  }
  .e-map__header {
    padding-bottom: 40px;
  }
  #map {
    min-height: auto;
    height: 300px;
  }
  .e-map__info {
    position: relative;
    left: auto;
    top: auto;
    margin: 0 auto;
    padding: 20px;
  }
  .e-branchs {
    padding: 30px 0 10px 0;
  }
  .e-branchs__card {
    margin-bottom: 10px;
    padding: 20px 20px 40px 30px;
  }
  .e-mob__more {
    display: none;
    width: 100%;
  }
  .e-top__button {
    font-size: 12px;
  }
  .e-top__phone {
    font-size: 18px;
  }
  .e-top__right {
    justify-content: space-around;
  }
  .table th {
    font-size: 12px;
  }
  .table td a {
    font-size: 16px;
  }
  .table thead th {
    min-width: 80px;
  }
  .e-audit__title {
    margin-bottom: 20px;
    font-size: 22px;
  }
  .e-audit__button {
    margin-top: 20px;
  }
  .e-banks {
    padding: 20px 0;
  }
  .e-banks__title {
    margin-bottom: 20px;
    font-size: 22px;
  }
  .e-banks__text {
    margin-bottom: 20px;
  }
  .e-banks__card {
    margin-bottom: 25px;
  }
  .e-banks__cards {
    justify-content: space-around;
  }
  .e-kicks {
    padding: 20px 0;
  }
  .e-kicks__title {
    margin-bottom: 20px;
  }
  .e-kicks__cards {
    justify-content: space-around;
  }
  .e-popular {
    margin-bottom: 20px;
    padding: 20px 15px;
  }
  .e-popular__title {
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}
